* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(212, 45%, 89%);
    --clr-grayish-blue: hsl(220, 15%, 55%);
    --clr-dark-blue: hsl(218, 44%, 22%);

    --ff: 'Outfit', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --clr-gr: hsl(220, 15%, 80%);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--clr-light-gray);
    font-family: var(--ff);
    font-weight: var(--fw-regular);
    font-size: 0.9375rem;
    color: var(--clr-grayish-blue);

    display: grid;
    min-height: 100vh;
    place-content: center;
}

.container {
    background-color: var(--clr-white);
    border-radius: 1.5rem;
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 2px 10px 30px var(--clr-grayish-blue);
}

.content {
    padding: 1rem 1rem;
    padding-bottom: 2.4rem;
    display: grid;
    gap: 1rem;
}

img {
    border-radius: 0.8rem;
    width: 100%;
}

.container__title {
    color: var(--clr-dark-blue);
    font-family: var(--fw-bold);
    font-size: 1.35rem;
    line-height: 1.3;
}